$colorblack: #202020;
$colorwhite: #FFFFFF;
$colorgrey: #4A4A4A;
$colorlightgrey: #E9E9E9;
$colororange: #FF6E30;
$colorfocus: #BC572B;
$coloractive: #CE4307;
$colorgreysvg: #CACACA;
$colorgreyclose: #666;
$colorsearch: #BCBCBC;
$colordata: #999;